<form>
    <div
        class="form-group"
        data-tooltip="Shock Index consisting of Injury Level and Location Shock values">
        <label>Shock Index:</label>
        <input type="number" name="shockIndex" value="{{shockIndex}}" />
    </div>
    <div class="form-group" data-tooltip="Target number for shock roll">
        <label>Shock Target:</label>
        <input type="number" name="target" value="{{target}}" />
    </div>
    {{#if mods}}
    <div class="form-group">
        <div class="flex flex-2col">
            <div class="flexrow">
                <span class="label adj-name">Adjustment</span>
                <span class="label adj-value">Value</span>
            </div>
            {{#each mods}}
            <div class="flexrow">
                <span class="adj-name">{{this.name}}</span>
                <span class="adj-value"
                    >{{#if (gt this.value 0)}}+{{/if}}{{this.value}}</span
                >
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    <div
        class="form-group"
        data-tooltip="Modifier to apply to the target Shock Test value before the roll is performed">
        <label>Shock Target Modifier:</label>
        <input type="number" name="modifier" value="{{modifier}}" />
    </div>
    <div
        class="form-group"
        data-tooltip="Modifier to apply to the success level (e.g., CF, MF, MS, CF) after the roll is finished">
        <label>Success Level Modifier:</label>
        <input
            type="number"
            name="successLevelMod"
            value="{{successLevelMod}}" />
    </div>
</form>
