<form id="welcome">
    <h2>Welcome to Song of Heroic Lands for Foundry VTT</h2>
    <p>
        This system assists players and GMs in playing Song of Heroic Lands
        as well as other compatible RPG systems by
        taking over much of the bookkeeping and mundane tasks, and speeding up
        the flow of combat through automation.
    </p>
    <div class="form-group">
        <input type="checkbox" name="showOnStartup" checked />
        <label id="showonstartup">Show this tip on startup</label>
    </div>
</form>
