<div class="hmk chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header">
        <h3 class="title">{{title}}</h3>
        <h4 class="subtitle">{{attacker}} vs. {{defender}}</h4>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}} {{#if isMissile}}
    <div class="card-content">
        <span class="label">Missile:</span>
        <span class="value">{{missile}}</span>
    </div>

    {{#if projectile}}
    <div class="card-content">
        <span class="label">Projectile:</span>
        <span class="value">{{projectile}}</span>
    </div>
    {{/if}} {{/if}}

    <div class="card-content center">
        <div class="flexrow">
            <span class="label">Zone Die + Offset:</span>
            <span class="value">d{{zoneDie}} + {{zoneOffset}}</span>
        </div>
    </div>

    <div class="card-content">
        <label>Impact Modifiers</label>
        <div class="adjustment">
            <div class="flexrow">
                <span class="label adj-name">Adjustment</span>
                <span class="label adj-value">Value</span>
            </div>
            {{#each impactMods}}
            <div class="flexrow">
                <span class="adj-name">{{this.name}}</span>
                <span class="adj-value"
                    >{{#if (gt this.value 0)}}+{{/if}}{{this.value}}</span
                >
            </div>
            {{/each}}
        </div>
    </div>

    <div class="grid grid-2col">
        <div class="card-content">
            <span class="label">Distance{{#if isMissile}} (range){{/if}}:</span>
            <span class="value"
                >{{distance}}ft{{#if isMissile}} ({{range}}){{/if}}</span
            >
        </div>

        <div class="card-content">
            <span class="label">Impact:</span>
            <span class="value">{{impactLabel}}</span>
        </div>
    </div>

    <div class="card-content">
        <label>Attack Modifiers</label>
        <div class="adjustment">
            <div class="flexrow">
                <span class="label adj-name">Adjustment</span>
                <span class="label adj-value">Value</span>
            </div>
            {{#each attackMods}}
            <div class="flexrow">
                <span class="adj-name">{{this.name}}</span>
                <span class="adj-value"
                    >{{#if (gt this.value 0)}}+{{/if}}{{this.value}}</span
                >
            </div>
            {{/each}}
        </div>
    </div>

    <div class="card-content">
        <span class="label">Effective AML:</span>
        <span class="value"
            >{{baseML}} {{amSign}} {{attackModAbs}} =
            <strong>{{effAML}}</strong></span
        >
    </div>

    {{#if successLevelMod}}
    <div class="card-content flex-group-center">
        <span class="label">Success Level Modifier:</span>
        <span class="value">{{successLevelMod}}</span>
    </div>
    {{/if}} {{#if (or hasDodge hasCounterstrike hasBlock hasIgnore)}}
    <div class="card-buttons">
        <div class="grid grid-2col mingap">
            {{#if hasDodge}}
            <button
                id="dodge-button"
                data-action="dodge"
                data-handler-actor-uuid="{{handlerActorUuid}}"
                data-atk-token-uuid="{{atkTokenUuid}}"
                data-def-token-uuid="{{defTokenUuid}}"
                data-weapon-type="{{weaponType}}"
                data-weapon-id="{{weaponId}}"
                data-attack-obj-json="{{attackJson}}"
                data-impact-obj-json="{{impactJson}}"
                data-zone-die-formula="{{zoneDieFormula}}"
                data-zone-offset="{{zoneOffset}}"
                data-body-location="{{bodyLocation}}">
                Dodge
            </button>
            {{/if}} {{#if hasCounterstrike}}
            <button
                id="counterstrike-button"
                data-action="counterstrike"
                data-handler-actor-uuid="{{handlerActorUuid}}"
                data-atk-token-uuid="{{atkTokenUuid}}"
                data-def-token-uuid="{{defTokenUuid}}"
                data-weapon-type="{{weaponType}}"
                data-weapon-id="{{weaponId}}"
                data-attack-obj-json="{{attackJson}}"
                data-impact-obj-json="{{impactJson}}"
                data-zone-die-formula="{{zoneDieFormula}}"
                data-body-location="{{bodyLocation}}">
                Counterstrike
            </button>
            {{/if}} {{#if hasBlock}}
            <button
                id="block-button"
                data-action="block"
                data-handler-actor-uuid="{{handlerActorUuid}}"
                data-atk-token-uuid="{{atkTokenUuid}}"
                data-def-token-uuid="{{defTokenUuid}}"
                data-weapon-type="{{weaponType}}"
                data-weapon-id="{{weaponId}}"
                data-attack-obj-json="{{attackJson}}"
                data-impact-obj-json="{{impactJson}}"
                data-zone-die-formula="{{zoneDieFormula}}"
                data-body-location="{{bodyLocation}}">
                Block
            </button>
            {{/if}} {{#if hasIgnore}}
            <button
                id="ignore-button"
                data-action="ignore"
                data-handler-actor-uuid="{{handlerActorUuid}}"
                data-atk-token-uuid="{{atkTokenUuid}}"
                data-def-token-uuid="{{defTokenUuid}}"
                data-weapon-type="{{weaponType}}"
                data-weapon-id="{{weaponId}}"
                data-attack-obj-json="{{attackJson}}"
                data-impact-obj-json="{{impactJson}}"
                data-zone-die-formula="{{zoneDieFormula}}"
                data-body-location="{{bodyLocation}}">
                Ignore
            </button>
            {{/if}}
        </div>
    </div>
    {{/if}}
</div>
