<div class="hmk chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}}

    <fieldset>
        <legend>Impact Modifier</legend>
        {{{testResult.impactMod.chatHtml}}}
    </fieldset>

    <div class="grid grid-2col">
        <div class="card-content center">
            <div class="flexrow">
                <span class="label">Formula:</span>
                <span class="value">{{testResult.impactMod.label}}</span>
            </div>
        </div>

        <div class="card-content center">
            <div class="flexrow">
                <span class="label">Roll:</span>
                <span class="value"
                    >{{impactRoll.result}} = <strong>{{impactRoll.total}}</strong></span
                >
            </div>
        </div>
    </div>

    {{#if testResult.impactMod.armorReduction.effective}}
    <fieldset>
        <legend>Armor Reduction</legend>
        <div class="card-content">
            {{{testResult.impactMod.armorReduction.chatHtml}}}
        </div>

        <div class="card-content">
            <div class="flexrow flex-center">
                <span class="label">Total:</span>
                <span class="value">{{testResult.impactMod.armorReduction.effective}}</span>
            </div>
        </div>
    </fieldset>
    {{/if}}

    {{#if testResult.impactMod.zoneDie}}
    <div class="card-content">
        <div class="flexrow flex-center">
            <span class="label">Start Zone:</span>
            <span class="value">{{testResult.impactMod.startZone}}</span>
        </div>
        <div class="flexrow flex-center">
            <span class="label">Zone Die:</span>
            <span class="value">d{{testResult.impactMod.zoneDie}}</span>
        </div>
    </div>
    {{else}}
    <div class="card-content center">
        <span class="value">No Zone Die: Area Impact</span>
    </div>
    {{/if}}

    {{#if testResult.impactMod.isProjectile}}
    <div class="card-content center">
        <span class="value">Impact is from a projectile.</span>
    </div>
    {{/if}}

    {{#if testResult.impactMod.extraBleedRisk}}
    <div class="card-content center">
        <span class="value">Risk of extra bleeding from impact.</span>
    </div>
    {{/if}}

    {{#if (and targetToken impactRoll.total)}}
    <div class="card-buttons">
        <button
            data-action="createInjury"
            data-handler-uuid="{{targetToken.actor.uuid}}"
            data-source-actor-uuid="{{actor.uuid}}"
            data-test-result-json="{{testResultJson}}"
            >Calculate {{targetName}} Injury
        </button>
    </div>
    {{/if}}
</div>
