<div class="hmk chat-card item-card" data-actor-uuid="{{actor.uuid}}">
    <header class="card-header flexcol">
        <h3 class="title">{{title}}</h3>
        <h4 class="subtitle">{{sourceToken.name}} vs. {{targetToken.name}}</h4>
    </header>

    <div class="card-content flex-group-center">
        <span class="value">{{sourceToken.name}} performs a {{sourceTestResult.title}} against {{targetToken.name}}</span>
    </div>
    <div class="card-content center">
        <span class="result-desc">{{targetToken.name}} must now choose</span>
        <span class="result-desc">what skill to respond with</span>
    </div>
    {{#each opposedTests}}
        <div class="card-buttons">
            <button
                data-action="opposedTestResume"
                data-action-handler-uuid="{{targetToken.actor.uuid}}"
                data-target-test-type="{{this.type}}"
                data-source-test-result-json="{{sourceTestResultJson}}"
                <i class="{{this.icon}}></i> {{this.label}}
            </button>
        </div>
    {{/each}}
</div>
