<div class="sohl chat-card item-card" data-actor-uuid="{{actor.uuid}}">
    <header class="card-header">
        <h3 class="title">{{title}}
            <a class="edit-action"
                data-action="successTest"
                data-action-handler-uuid="{{item.uuid}}"
                data-test-result-json="{{testResultJson}}"
                ><i class="fas fa-edit"></i></a
            ></h3>
    </header>

    {{#if (not mlMod.empty)}}
    <div class="card-content">
        {{{mlMod.chatHtml}}}
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Target:</span>
        <span class="value">{{mlMod.effective}}</span>
    </div>

    {{#if successLevelMod}}
    <div class="card-content">
        <span class="label">Success Level Modifier:</span>
        <span class="value">{{mlMod.successLevelMod}}</span>
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Roll:</span>
        <span 
        {{#if isSuccess}}
        class="value success-text"
        {{else}}
        class="value failure-text"
        {{/if}}
        >{{roll.total}}</span>
    </div>    
        
    {{#if isSuccessValue}}
    <div class="card-content">
        <span class="label">Success Value:</span>
        <span class="value">{{successValueExpr}} = {{successValue}}</span>
    </div>
    {{/if}}

    {{#if resultText}}
    <div class="card-content">
        <span class="label">Result:</span>
        <span
            {{#if (ifThen isSuccessValue svSuccess isSuccess)}}
            class="value success-text"
            {{else}}
            class="value failure-text"
            {{/if}}
            >{{resultText}}</span>
    </div>

    {{#if resultDesc}}
        <div class="card-content">
            <span class="value">{{resultDesc}}</span>
        </div>
    {{/if}}
    {{/if}}
    
    {{#if isSuccess}}
        {{#if isCritical}}
            <footer class="card-footer critical-success-block">
                <span>{{description}}</span>
            </footer>
        {{else}}
            <footer class="card-footer success-text">
                <span>{{description}}</span>
            </footer>
        {{/if}}
    {{else}}
        {{#if isCritical}}
            <footer class="card-footer critical-failure-block">
                <span>{{description}}</span>
            </footer>
        {{else}}
            <footer class="card-footer failure-text">
                <span>{{description}}</span>
            </footer>
        {{/if}}
    {{/if}}
</div>
