<div class="hmk chat-card item-card">
    <header class="card-header">
        <h3 class="title">{{title}}</h3>
        <h4 class="subtitle">{{subtitle}}</h4>
    </header>

    <div class="card-content">
        <span class="label">Time Expired:</span>
        <span class="value">{{timeExpiredText}}</span>
        {{#if worldTimeExpiredText}}
        <span class="value">{{worldTimeExpiredText}}</span>
        {{/if}}
    </div>

    {{#if message}}
    <div class="card-content center">
        <span class="value">{{message}}</span>
    </div>
    {{/if}}
</div>
