.resource {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .time-label {
        flex: 0 0 100px;
    }

    .time-control {
        flex: 0 0 60px;
    }
}

.resource-label {
    font-weight: bold;
    text-transform: uppercase;
}

.artifact {
    padding-top: 5px;
    align-items: center;
}

.text-field {
    align-items: top;

    label {
        font-weight: bold;
        text-transform: uppercase;    
    }
}